<h1>Кредитный онлайн-калькулятор</h1>
<p>Предлагаем вам рассчитать ориентировочную сумму ежемесячных платежей по возврату основной суммы и процентов за пользование кредитом в зависимости от срока кредитования и размера процентной ставки, а также определить наиболее удобную для вас схему кредитования.</p>
<p>Более подробную информацию можно получить при личной встрече с кредитным экспертом.</p>
<p><b>Кредитные сведения:</b></p>
<form action="/calculate" method="POST">
    
  <p>Процентная ставка (%): <input type="text" name="percent"></p>
  <p>Сумма кредита: <input type="text" name="credit"></p>
  <p>
      <input type="radio" name="pay_off" value="usual" checked>Стандартный
      <input type="radio" name="pay_off" value="equal">Аннуитентный (равными частями)
  </p>
  <p>"Срок кредита (в месяцах):"<input type="text" name="term"></p>
  <p>График платежей:<input type="submit"></p>
</form>
<div id='credit_table'></div>
